@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.text-wrapper {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.text-block {
    background-color: rgb(0, 146, 204);
    color: #FFF;
    padding: 2rem;
    margin: 0 4rem;
    border-radius: 12px;
    width: 30vw;
    height: 13rem;
    -webkit-box-shadow: 0px 5px 14px -3px #000000;
    box-shadow: 0px 5px 14px -3px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.software-me-wrapper {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.software-me-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(26, 141, 187);
    width: fit-content;
    margin: auto 3rem;
    padding: 2rem;
    border-radius: 12px;
    color: #FFF;
    -webkit-box-shadow: 0px 5px 14px -3px #000000;
    box-shadow: 0px 5px 14px -3px #000000;
    margin-bottom: 2rem;
}

.text-block2 {
    text-align: justify;
    width: 60vw;
    margin: 2rem;
}

.work-experience{
    width: 80vw;
    margin: auto;
    padding: 1rem 0;
}

.work-experience .works-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.work-experience .works-wrapper *{
    border-radius: 12px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.work-experience .works-wrapper .work-1{
    padding: 1rem;
    min-height: 20rem;
    background: #005AA7;
    background: -webkit-linear-gradient(to bottom, #e1dfca, #005AA7);
    background: linear-gradient(to bottom, #e1dfca, #005AA7); 
    
}
.work-experience .works-wrapper .work-2{
    min-height: 20rem;
    padding: 1rem;
    background: linear-gradient(310deg, rgba(242,226,3,1) 0%, rgba(240,156,34,1) 50%, rgba(255,0,136,1) 100%);
}